@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer utilities {
    .bg-gradient-brand {
        background: linear-gradient(135deg, #5f0099, #082245);
    }
    .text-gradient-brand {
        background: linear-gradient(135deg, #f60d9d, #5f0099);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

